---
import Layout from '../../layouts/Layout.astro';
import BackupDashboard from '../../components/backup/BackupDashboard';
---

<Layout title="Backup & Recovery | Breeze RMM">
  <div class="h-[calc(100vh-4rem)]">
    <BackupDashboard client:load />
  </div>
</Layout>
